### Section 1. Basic Concepts

__print()__

A function that simply prints something in the screen. In below snippet, computer prints 'Hello world!' in the screen.

In [1]:
print('Hello world!')

Hello world!

The content must be surrounded by a pair of quotation marks. Both single and double quotation marks are acceptable.

In [2]:
print("Hello world double quotation!")
print('Hello world single quotation!')

Hello world double quotation!
Hello world single quotation!

Special symbols in the content need to be "skipped" by a slash (\). An example is shown in below snippet.

In [3]:
print('I\'m a student')

I'm a student

Actually, in above example we may use a pair of double quotation marks to enclose the content, and the prime (') does not need to be skipped in this case, as the computer realizes the prime is not part of the quotation marks.

In [8]:
print("I'm a student")

I'm a student

By default, __print()__ function terminates the present line. This behavior can be changed by using an additional argument, __end__, as below.

In [13]:
print('Hello, World!', end = ' ')
print('Python speaking!')

Hello, World! Python speaking!

Another argument is __sep__, which by default is whitespace (' '). In below example, we use this argument.

In [15]:
first_name = 'John'
print('Your first name is', first_name, 'Welcome!', sep = '-')

Your first name is-John-Welcome!

__input()__

A function that takes user input from the console. In below snippet, the computer ***pauses*** and waits for user to type something and then assigns it to the variable 'user_name1'.

In [4]:
user_name1 = input()

 John

Function 'input()' can also print a comment to reminder the user what to type. In below snippet, the computer prints a comment 'What is your name? ', and then pauses to wait for user's input. If I type 'John', variable 'user_name2' has the value of 'John'. Then the second line prints 'Hello, John' in the screen.

In [5]:
user_name2 = input('What is your name? ') # Computer pauses and waits for user input.
print('Hello,', user_name2)

What is your name?  John

Hello, John

__Variables__ 

A variable has a name and can be used to hold values. 

A variable name must:
1. start with a letter or underscore (_),
2. contains only alpha-numeric characters and underscores,
3. not be Pyhon keywords, such as 'if', 'else', 'while', etc.

Examples of acceptable variable names: 'a_number', '_number', 'number1'.
Examples of unaccetable variable names: '1_number', 'number$', 'if'.

Variable names are case sensitive. For example, "a_number" and "A_Number" are two different variables.

There is no strict requirement for variable naming convention. It is preferred to use the "snake case" style, e.g., lowercase workds connected by under scores. For example, "a_good_variable_name".

__Data Types__

In Python, the most common data types include __integer__, __float__ (decimal number), __string__, and __boolean__(True or False). We don't have to tell the computer what data type a variable is. Python will decide based on the value we assign to this variable. In below snippet, the four variables are integer, float, string, and boolean (True of False), respectively.

In [2]:
an_integer_number = 1
a_float_number = 1.0
a_string = "John is smart."
a_boolean = True

In below snippet, we print out the types of these variables. Note function __type()__ is used to check the type of variables.

In [4]:
print(type(an_integer_number))
print(type(a_float_number))
print(type(a_string))
print(type(a_boolean))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

Note that Python determines the data type of a variable based on the __last__ value it assigns to this variable. For example in below snippet, variable "greeting" is first assigned a string but then an integer number. Therefore, "greeting" is an integer.

In [1]:
greeting = "Hellow world"
greeting = 1234
print(type(greeting))

<class 'int'>

__Comments__

In Python, we can add some comments, which is only to help people, including yourself, to understand the program. A comment starts with "#". A comment will not be executed by Python. An example is shown as below

In [5]:
age = 19
# Check if age is no less than 18.
print(age >= 18)

True

__Numerical Representations__

1) Underscores. For big numbers, i.e., 12000300, we can add underscores to help read it. For example as below

In [8]:
# underscores in numbers
a_big_number = 12_000_300
print(a_big_number)

12000300

2) Scientific notations. We can use "E" or "e" to denote "10 powers of". For example "3E3" is "3 times 10 powers of 3".

In [12]:
x = 3e3
print(x)

y = 3e-3
print(y)

3000.0
0.003

3) Octal numbers. Start with "0O" (number zero and capital "O") or "0o" (number zero and lowercase "o")

In [13]:
print(0o123)

83

4) Hexadecimal numbers. Start with "0X" (number zero and capital "X") or "0x" (number zero and lowercase "x")

In [14]:
print(0X12F)

303

__Operators__

In [18]:
# plus
print(2 + 3) # 5

# minus
print(2 - 3) # -1

# multiplition
print(2 * 3) # 6

# standdard division
print(5 / 2) # 2.5

# integer division: returns the whole number only
print(5 // 2) # 2

# modulus division: returns the remainder
print(5 % 2) # 1

# power operator
print(2 ** 3) # 8

5
-1
6
2.5
2
1
8

In addition, subtraction, and multiplition operations, if both two numbers are integers, the result is integer. If at least one number is a float, the result will be a float.

In [19]:
print(2 * 3.0) # 6.0

6.0

In [20]:
print(2 * 3) # 6

6

__Reassigning values__

Note that in Python, a variable can be re-assigned values, even of different types.

In [22]:
age = 28
print("Age:", age)

age = 29.5
print("New Age:", age)

Age: 28
New Age: 29.5


Also try to understand below operations.

In [26]:
age = 28
print(age)

age += 1 # 'age" is reassigned a new value of 'age + 1' (29)
print(age)

age *= 2 # 'age' is reassigned a new value of 'age * 2' (58)
print(age)

age /= 2 # 'age' becomes (58 / 2 = 29.0). Note division results in a float number
print(age)

28
29
58
29.0

__String Concatenation__

Note the use of addition ("+") and multiplation ("*") operations on strings.

In [29]:
text = 'foo' + 'bar'
print(text)

foobar

In [30]:
text = 'foo' * 2
print(text)

foofoo

__Type Casting__

Convert a variable from one type to another. For example, from string to integer, __int()__, and from string to float, __float()__.

In [4]:
height_in_cm = '170.00'
print('Your height in feet is: ', float(height_in_cm) / 30.48)

Your height in feet is:  5.57742782152231

We can nest a function in another. In below snippet, we nest function __input()__ in __float()__. It takes user's input, which is a string, and then converts it into float.

In [6]:
height_in_cm = float(input('Please enter your height in cm: '))
print('Your height in feet is: ', height_in_cm / 30.48)

Please enter your height in cm:  169

Your height in feet is:  5.544619422572178

Other commonly used type casting functions include: __int()__ (convert string to integer), __str()__ (convert a number to string), etc.

In [7]:
temperature_in_fahrenheit = 66
temperature_in_celsius = (temperature_in_fahrenheit - 32.0) * 5 / 9
print('Current temperature is ' + str(temperature_in_fahrenheit) + ' degrees in Fahrenheit and ' + str(temperature_in_celsius) + ' degrees in Celsius')

Current temperature is 66 degrees in Fahrenheit and 18.88888888888889 degrees in Celsius

__Order of Operators__

In Python, order of operators is just like it is in mathematics.
1) power operator ("**")
2) multiplation and division (standard division, "/", integer division "//", modulus division, "%")
3) addition ("+") and subtraction ("-")

Like in mathematics, we can use bracket to change the order.

Note a special case, if we use multiple power operations, Python operates from right to left.

In [8]:
2 ** 2 ** 3 # = 2 ** (2 ** 3) = 2 ** 8 = 256

256

__Bit Operators__ (advanced concept, good to know)

In [25]:
first_bit = 1
second_bit = 0

# '&' (and): both two bits are 1 then result is 1, otherwise, 0.
print(first_bit & second_bit) # 0

# '|' (or): either bit is 1 then 1.
print(first_bit | second_bit) # 1

# '^' (xor): if the two bits are different then 1.
print(first_bit ^ second_bit) # 1

# '~' (bitwise not): x = -x - 1
print(~1) # -2
print(~0) # -1
# For example, convert number to signed binary, 5 = '0000 0101'. Bitwise not of 5 becomes '1111 1010' (-6)

# '<<' (left shift, equivalent to multiplying the first number by 2 powers of the second number)
print(2 << 1) # 4: 2 = '0010', shift left 1 bit, '0100' (4), equivalent to 2 * 2 = 4
print(5 << 1) # 6: 5 = '0101', shift left 1 bit, '1010' (10), equivalent to 5 * 2 = 10

# '>>' (right shift, equivalent to dividing the first number by 2 powers of the second number)
print(4 >> 2) # 1, 4 = '0100', shift right 2 bits, '0001' (1), equivalent to 4 / (2**2) = 1

0
1
1
-2
-1
4
10
1

In [21]:
2 << 1

4

#### Section 2. Control Flow

__if statement__

Pay attention to the indentation!

In [34]:
user_age = 18

if user_age > 18:
    print('You are good to enter')
elif user_age == 18:
    print('It is required by law that an 18-year old candidate must provide a photo ID as a proof')
    print('Please show you photo ID')
else:
    print('You are not allowed')

It is required by law that an 18-year old candidate must provide a photo ID as a proof
Please show you photo ID